@import url('https://fonts.googleapis.com/css2?family=Red+Hat+Mono&display=swap');

* {
  padding: 0;
  margin: 0;
}

html, body {
  overflow: hidden;
}

::selection {
  color: none;
  background: none;
}
/* For Mozilla Firefox */
::-moz-selection {
  color: none;
  background: none;
}


.Main {
  height: 100vh;
  width: 100vw;
}
.App {
  height: 100vh;
  width: 100vw;
  background-image: url("./imgs/2.jpg");
  background-size: cover;
  background-position-y: bottom;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: #03a9f4;
}

.Header {
  width: 100%;
  height: 7vh;
  display: flex;
  align-items: center;
  justify-content: flex-end;
  background-color: #1d1d1d;
  color: #fff;
  font-family: 'Red Hat Mono', monospace;
}

.Container {
  height: 60vh;
  width: 30vw;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  overflow: hidden;
  border: 0.4vw solid black;
  background-color: rgba(0, 0, 0, 0.5);
  border-radius: 5vw;
  box-shadow: 0 1px 6px rgba(0, 0, 0, 0.12), 0 1px 4px rgba(0, 0, 0, 0.24);
}

.Container h1, h3 {
  font-family: 'Red Hat Mono', monospace;
  font-size: 1.9vw;
}

.Container h3 {
  font-size: 1.5vw;
}

.button {
  height: inherit;
  width: inherit;
  display: flex;
  flex-direction: column;
  justify-content: center;
  font-family: 'Red Hat Mono', monospace;
  align-items: center;
  border: none;
  border-bottom: 0.4vw solid black;
  background-color: rgba(0, 0, 0, 0.5); 
}

.Options {
  height: inherit;
}

.Header-Button {
  height: inherit;
  width: 10vw;
  background-color: #686262;
  border: none;
  font-family: 'Red Hat Mono', monospace;
  border-left: 0.2vw solid #1d1d1d;
}

.Header-Button:hover {
  background-color: #555454;
}

.button:hover {
  cursor: pointer;
  transform: scale(1.25);
  background: #FFF;
  color: #000;
}

.signup-form {
  height: 80vh;
  width: 40vw;
  display: flex;
  flex-direction: column;
  align-items: center;
  overflow: hidden;
  margin-bottom: 10vh;
  border: #1d1d1d 0.4vw solid;
  border-radius: 10vh;
  background-color: rgba(0, 0, 0, 0.6);
}

.login-form {
  height: 50vh;
  width: 40vw;
  display: flex;
  flex-direction: column;
  align-items: center;
  overflow: hidden;
  margin-bottom: 10vh;
  border: #1d1d1d 0.4vw solid;
  border-radius: 10vh;
  background-color: rgba(0, 0, 0, 0.6);
}

.login-form:shake {
  display: none;
}

.error {
  animation: shake 0.82s cubic-bezier(.36,.07,.19,.97) both;
  transform: translate3d(0, 0, 0);
  backface-visibility: hidden;
  perspective: 1000px;
}

.signup-form h1, .login-form h1 {
  font-family: 'Red Hat Mono', monospace;
  font-size: 2.5vw;
  color: #fff;
  text-decoration: underline;
}

.signup-form form ,.login-form form{
  height: inherit;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.signup-form input , .login-form input {
  height: 5vh;
  width: 40vw;
  border: none;
  border-bottom: 0.4vw solid black;
  background-color: rgba(0, 0, 0, 0.5);
  font-family: 'Red Hat Mono', monospace;
  font-size: 1.5vw;
  color: #fff;
}

.signup-form input[type=submit], .login-form input[type=submit] {
  border: lime 0.2vw solid;
  background-color: lime;
  border-radius: 10vh;
}

.Container h1, .Container h2 {
  text-shadow: 0 1px 6px rgba(0, 0, 0, 0.12), 0 1px 4px rgba(0, 0, 0, 0.24);
}

.content {
	position: relative;
}

.content h2 {
	color: #fff;
	font-size: 9vw;
	position: absolute;
	transform: translate(-50%, -50%);
}

.content h2:nth-child(1) {
	color: transparent;
	-webkit-text-stroke: 0.1vw #03a9f4;
}

.content h2:nth-child(2) {
	color: #03a9f4;
	animation: animate 4s ease-in-out infinite;
}

@keyframes animate {
	0%,
	100% {
		clip-path: polygon(
			0% 45%,
			16% 44%,
			33% 50%,
			54% 60%,
			70% 61%,
			84% 59%,
			100% 52%,
			100% 100%,
			0% 100%
		);
	}

	50% {
		clip-path: polygon(
			0% 60%,
			15% 65%,
			34% 66%,
			51% 62%,
			67% 50%,
			84% 45%,
			100% 46%,
			100% 100%,
			0% 100%
		);
	}
}

.glitch {
  font-size: 5rem;
  font-weight: bold;
  text-transform: uppercase;
  position: relative;
  text-shadow: 0.05em 0 0 #00fffc, -0.03em -0.04em 0 #fc00ff,
    0.025em 0.04em 0 #fffc00;
  animation: glitch 725ms infinite;
}

.glitch span {
  position: absolute;
  top: 0;
  left: 0;
}

.glitch span:first-child {
  animation: glitch 500ms infinite;
  clip-path: polygon(0 0, 100% 0, 100% 35%, 0 35%);
  transform: translate(-0.04em, -0.03em);
  opacity: 0.75;
}

.glitch span:last-child {
  animation: glitch 375ms infinite;
  clip-path: polygon(0 65%, 100% 65%, 100% 100%, 0 100%);
  transform: translate(0.04em, 0.03em);
  opacity: 0.75;
}

@keyframes glitch {
  0% {
    text-shadow: 0.05em 0 0 #00fffc, -0.03em -0.04em 0 #fc00ff,
      0.025em 0.04em 0 #fffc00;
  }
  15% {
    text-shadow: 0.05em 0 0 #00fffc, -0.03em -0.04em 0 #fc00ff,
      0.025em 0.04em 0 #fffc00;
  }
  16% {
    text-shadow: -0.05em -0.025em 0 #00fffc, 0.025em 0.035em 0 #fc00ff,
      -0.05em -0.05em 0 #fffc00;
  }
  49% {
    text-shadow: -0.05em -0.025em 0 #00fffc, 0.025em 0.035em 0 #fc00ff,
      -0.05em -0.05em 0 #fffc00;
  }
  50% {
    text-shadow: 0.05em 0.035em 0 #00fffc, 0.03em 0 0 #fc00ff,
      0 -0.04em 0 #fffc00;
  }
  99% {
    text-shadow: 0.05em 0.035em 0 #00fffc, 0.03em 0 0 #fc00ff,
      0 -0.04em 0 #fffc00;
  }
  100% {
    text-shadow: -0.05em 0 0 #00fffc, -0.025em -0.04em 0 #fc00ff,
      -0.04em -0.025em 0 #fffc00;
  }
}

@keyframes shake {
  10%, 90% {
    transform: translate3d(-1px, 0, 0);
  }
  
  20%, 80% {
    transform: translate3d(2px, 0, 0);
  }

  30%, 50%, 70% {
    transform: translate3d(-4px, 0, 0);
  }

  40%, 60% {
    transform: translate3d(4px, 0, 0);
  }
}